{% extends 'layout.html' %}
{% block body %}
<div class="container">
    <div class="row align-items-center justify-content-center">
            <h1>Drum Maker</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Selection de la gamme</strong>
                </div>
                <div class="card-body" id="gammeSelector">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card drum-gamme" data-gamme="0">
                                <img src="/img/drums/simone.jpg" class="card-img-top" alt="simone">
                                <div class="card-body">
                                    <p class="card-text text-center">Simone</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card drum-gamme" data-gamme="1">
                                <img src="/img/drums/rive.jpg" class="card-img-top" alt="rive gauche">
                                <div class="card-body">
                                    <p class="card-text text-center">Rive Gauche</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card drum-gamme" data-gamme="2">
                                <img src="/img/drums/revelation.jpg" class="card-img-top" alt="revelation">
                                <div class="card-body">
                                    <p class="card-text text-center">Révélation</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card drum-gamme" data-gamme="3">
                                <img src="/img/drums/snare.jpg" class="card-img-top" alt="snare">
                                <div class="card-body">
                                    <p class="card-text text-center">Snare</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="isSuper" style="display: none;">
                        <div class="col-md-3">
                            <select name="type" class="form-control">
                                <option value="null">Est-elle Super ?</option>                                            
                                <option value="0">Non</option>
                                <option value="1">Oui</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <dic class="col-md-12">

        </dic>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script>
    jQuery(document).ready(function($){
        $(".drum-gamme").on('click', function(){
            $(".drum-gamme").removeClass("bg-success");
            $(this).addClass("bg-success");
            var gamme = $(this).data("gamme");
            if(gamme === 0){
                $("#isSuper").css("display", "block");
            }
        })
    })
</script>
{% endblock %}
