<!DOCTYPE html>
<html>  
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" >
</head>  
<body>  
    <div class="container-fluid" id="footer">
        <div class="row">
            <div class="col-12 text-center">
                <p class="m-0"><strong>ASBA</strong> 31 rue de Cuire Bât. G 69004 Lyon - 04.78.39.80.30 - 1927@asbadrums.com</p>
            </div>
        </div>
    </div>
</body>  
</html> 